.btn {
  text-align: center;
  color: var(--bg);
  text-shadow: 0px 0px 25px var(--lightGreen);
  font-size: inherit;
  background-color: #000;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  padding: 18px 25px;
  white-space: nowrap;
  width: fit-content;
  &:hover {
    box-shadow: 0px 0px 5px #000;
  }
}
