.filtersWrap {
  width: calc(100% + 30px);

  overflow: auto;
  margin: 0 -15px 40px;
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e24; /* Цвет ползунка и цвет дорожки */

  /* Для Chrome, Safari, Edge, Opera */
  &::-webkit-scrollbar {
    width: 6px; /* Ширина для вертикального скролла */
    height: 6px; /* Высота для горизонтального скролла (если табы не влезают) */
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); /* Легкая полупрозрачная дорожка */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #4a4d68; /* Цвет ползунка под тему проекта */
    border-radius: 10px;
    transition: background 0.2s ease;

    &:hover {
      background: #6c5ce7; /* Акцентный цвет при наведении */
    }
  }
}
.filters {
  width: fit-content;
  overflow-x: auto;
  display: flex;
  align-items: center;

  gap: 16px;

  flex-wrap: nowrap;
  padding: 0 15px;
  margin: 0 auto;
}
