.search {
  display: flex;
  gap: 20px;
  max-width: 525px;
  width: 100%;
  background-color: var(--black);
  border-radius: 10px;
  overflow: hidden;
  padding: 12px 25px;
}
.label {
  flex: 1;
}
.input {
  color: var(--bg);
  text-shadow: 0px 0px 25px var(--lightGreen);
  font-size: inherit;
  width: 100%;
  background-color: transparent;
  &::placeholder {
    color: var(--bg);
    text-shadow: 0px 0px 25px var(--lightGreen);
    font-size: inherit;
  }
}
.loupe {
  color: var(--bg);
  & svg {
    width: 30px;
    height: 30px;
  }
}
