
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.img {
  & img {
    width: 100%;
    object-fit: cover;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  text-align: right;
  max-width: 655px;
}
.title {
  font-size: 64px;
}

